# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env/
.venv/
venv/

# jupyter
notebooks/*
!notebooks/README.md
!.gitkeep
.ipynb_checkpoints/

# data & models
data/*
!data/README.md
results/*
!results/README.md
runs/
weights/

# OS / misc
.DS_Store

__pycache__/